{
  "presets": [
    "@babel/env",
    "minify"
  ],
  "plugins": [
    ["transform-remove-console", { "exclude": [ "error", "warn"] }]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["@babel/env"]
    }
  }
}
