language: node_js

branches:
  only:
    - master
    
node_js:
  - '8'
  - '9'
  - '10'
  
cache:
  yarn: true
  directories:
    - node_modules

install:
  - yarn install
  
before_script:
  - yarn test
  
script:
  - yarn build
